<div class="page-header">
  <h1>WrightRobotix <small>shopping cart</small></h1>
</div>

<div class="table-responsive shopping-cart-table">
			<table class="table table-bordered">
				<thead>
					<tr>
						<td class="text-center">
							Image
						</td>
						<td class="text-center">
							Product Details
						</td>
						<td class="text-center">
							Quantity
						</td>
						<td class="text-center">
							Price
						</td>
						<td class="text-center">
							Total
						</td>
						<td class="text-center">
							Action
						</td>
					</tr>
				</thead>
				<tbody>
            <% @cart.cart_items.each do |cart_item| %>
					<tr>
						<td class="text-center">
							<%= image_tag cart_item.product.photo%>
						</td>
						<td class="text-center">
							<%=link_to cart_item.product.name, show_path(id: cart_item.product.id) %>
						</td>
						<td class="text-center">
							<div class="quantity"><%= cart_item.quantity %></div>
						</td>
						<td class="text-center">
							<%= number_to_currency cart_item.price %>
						</td>
						<td class="text-center">
							<%= number_to_currency @cart.price_in_dollars %>
						</td>
						<td class="cart-button button-group text-center">
              <%= button_to remove_from_cart_path(product_id: cart_item.product.id), method: :delete, class: "btn btn-danger" do %>
                  Remove <span class="glyphicon glyphicon-minus-sign"></span>
              <% end %>
						</td>
					</tr>
          <% end %>

				</tbody>
				<tfoot>
					<tr>
					  <td colspan="4" class="text-right">
						<strong>Total :</strong>
					  </td>
					  <td colspan="2" class="text-left">
						<%= number_to_currency @cart.price_in_dollars %>
					  </td>
					</tr>
				</tfoot>
			</table>
		</div>

<% if @cart.cart_items.any? %>
  <%= render 'payola/transactions/checkout',
              sellable: @cart,
              button_text: "Checkout",
              button_class: "berg btn btn-success",
              name: "WrightRobotix",
              description: pluralize(@cart.cart_items.pluck(:quantity).sum, "product"),
              product_image_path: @cart.cart_items.first.product.photo

  %>
<% end %>
