<div class="row product-info">

					<div class="col-sm-5 images-block">
						<div class="img-brz">
              <%= image_tag @product.photo%>
						</div>
					</div>
					<div class="col-sm-7 product-details">
						<h2><%=@product.name%></h2>
						<hr>
						<ul class="list-unstyled manufacturer">
							<li>
								<span>Description:</span> <%= @product.description %>
							</li>
						</ul>
						<hr>
						<div class="price">
							<span class="price-head">Price :</span>
							<span class="price-new"><%=number_to_currency @product.price %></span>
						</div>
						<hr>
						<div class="options">
							<div class="cart-button button-group">
                <%= button_to add_to_cart_path(product_id: @product.id), method: :post, class: "btn btn-cart" do %>
                    Add To Cart <span class="glyphicon glyphicon-shopping-cart"></span>
                <% end %>
							</div>
						</div>
						<hr>
					</div>
				</div>
